// Variabler för text och färger
$font-text: 'Roboto', Helvetica, Arial, sans-serif;
$font-heading: "Montserrat", 'Roboto', Helvetica, sans-serif;
$background-color: #daedf3;
$primary-color: rgb(32, 32, 32);
$secondary-color: rgb(34, 112, 185);
$light-grey-color: rgb(201, 201, 214);
$link-color: #1b60e0;
$sub-head-color: #05081f;
$hover-color: darken($link-color, 0%);
$text-color: #333;
$light-text-color: white;
$add-btn-color: rgb(34, 122, 16);
$edit-btn-color: rgb(240, 153, 53);
$delete-btn-color: rgb(236, 58, 58);